# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:

name: R-CMD-check.yaml

permissions: read-all

jobs:
  R-CMD-check:
    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macos-latest,   r: 'release'}
          - {os: windows-latest, r: 'release'}
          - {os: ubuntu-latest,   r: 'devel', http-user-agent: 'release'}
          - {os: ubuntu-latest,   r: 'release'}
          - {os: ubuntu-latest,   r: 'oldrel-1'}

    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}
          use-public-rspm: true

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::rcmdcheck
            any::V8
          needs: check
          
      - uses: r-lib/actions/setup-tinytex@v2

      - name: Install courier font on Windows
        # to fix PDF error "Cannot find pcrr8t.mf."
        if: runner.os == 'Windows'
        run: |
          # print tlmgr version (debug)
          tlmgr --version

          # ensure the user tree exists (ignore errors)
          try { tlmgr init-usertree } catch { Write-Host "tlmgr init-usertree failed (continuing)"; }

          # set CTAN mirror and update tlmgr metadata
          tlmgr option repository http://mirror.ctan.org/systems/texlive/tlnet
          try { tlmgr update --self --usermode } catch { Write-Host "tlmgr update --self failed (continuing)"; }

          # install the courier font in user mode
          tlmgr install courier --usermode

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true
          build_args: 'c("--compact-vignettes=gs+qpdf")'
          args: 'c("--as-cran")'
